html{
 scroll-behavior: smooth;
}
*{
 margin: 0;
 padding: 0;
}

body{
 overflow-x: hidden;
 height: 300vh;
 background-color: antiquewhite;
 background: url(computer-desk-ebook-reader-2237795.jpg) ;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}


#header{
 position: fixed;
 top: 0;
 z-index: 10;


 #brand{
  background: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 12;
  transition: background ease-in 2s;
  &:hover{
   background: lightcoral;
  }  
  img{
   height: 40px;
   width: 40px;
   box-shadow: 0 0 10px 0 #ffd;
   border: 1px dashed rgb(24,0,237);
   float: left;
   margin: 8px 0;
   margin-right: 20px;
   transition: transform ease 2s;
   &:hover{
    // transform: rotateY(50deg);
    transform: scale(1.2);
   }
  }
  p{
   float: left;
   font-size: 30px;
   margin: 6px 2px;
   color: rgb(10, 248, 228);
   font-family: serif;
   &::first-letter{
    color: blue;
    padding-right: 2px;
    font-family: cursive;
    font-weight: bolder;
   }
   transition: all ease-out 1.3s;
   &:hover{
    transform: translateX(34px);
   }
  }
  span{
   color: white;
   font-size: 30px;
   background: black;
   padding: 0 4px;
   border-radius: 24%;
   z-index: 30;
   box-shadow: 0px 0px 10px 6px white;
   float: right;
   margin: 8px 20px;
   transition: 2s all ease-out;
   cursor: pointer;
   display: block;
   // &:hover{
   //  transform: rotate(180deg);
   // }
  }

  #nav{
   float: left;
   margin: 12px 20px;
   display: none;
   .none{
    background: none;
    color: white;
   }

   .active{
    border-radius: 10px 5px 10px 5px;
    background-color:black;
    color:white;
   }
   a{
    color: white;
    text-decoration: none;
    padding: 0 3px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    &:hover:not(.active){
     border-radius: 10px 5px 10px 5px;
     background-color: white;
     text-decoration: none;
     color: green;
    }
   }
  }
 }
}


@media(min-width: 780px){
   #main{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   }
   .article{
      width: 32%;
   }
}
#content{
 position: relative;
 top: 100vh;
}
#main{
 background: rgba(22,22,122,0.3);
 
 .article{
  border: 2px white solid;
  border-radius: 0 0 40px  40px;
  margin-bottom: 100px;
  max-width: 200vw;
  margin-top: 20px;
  background: rgb(209, 167, 167);

  p{
   color: black;
   text-align: justify;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 1.5px;
   font-family: Tahoma;
   margin: 8px;
   padding: 10px;
   margin-top: 0;
   padding-top: 0;
  }

  img{
   width: 100%;
   height: 350px;
  }
  
  
 }

}


//experiment
#welcome{
 // float: left;
 position: relative;
 top: 48vh;
 width: 100%;

 h1{
  left: 0;
  right: 0;
  margin: 0;
  color: aqua;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  &::first-letter{
   color:blue;
   font-family: cursive;
   font-weight: bolder;
   padding-right: 2px;
  }
  
 }

 h5{
  text-align: center;
  color: gold;
  font-size: 20px;
  cursor: pointer;
  transition: all 4s ease;
  &:hover{
  transform: scale(2.5);
  // margin-top: 20px;
  color: pink;
  }
 }

 img{
  // float: right;
  margin: 0 44vw; 
  max-height: 100px;
  min-width: 100px;
  transition: transform 2s ease-in;
  &:hover{
   transform-origin: right;
   transform: translateX(-800px);
  
  }
 }
}
#flexitem4 a{
   display: block;
   text-decoration: none;
   color: black;
   padding: 5px;
   text-align: center;
   font-size: 20px;
   &:hover{
      color: green;
   }
}
#main2{
 background: rgba(23,21,222,0.9);
 text-align: center;
 font-family: monospace;
 color: lavender;
 margin-top: 570px;
 padding: 0;
}








//media queries
@media screen and (max-width: 800px){
 #brand img{
  display: none;
 }
 #nav{
  margin-left: 0;
  padding-left: 0;
  float: left;
 }




 #welcome{
  // float: left;
  position: relative;
  top: 48vh;
  width: 100%;
 
  h1{
   left: 0;
   right: 0;
   margin: 0;
   color: aqua;
   text-align: center;
   font-family: sans-serif;
   font-size: 50px;
   &::first-letter{
    color:blue;
    font-family: cursive;
    font-weight: bolder;
    padding-right: 2px;
   }
   
  }
 
  h5{
   text-align: center;
   color: gold;
   font-size: 20px;
   cursor: pointer;
   transition: transform 4s ease;
   &:hover{
   transform: scale(3);
   // margin-top: 20px;
   color: pink;
   }
  }
 
  img{
   // float: right;
   margin-left: 33vw; 
   max-height: 100px;
   min-width: 100px;
   transition: transform 2s ease-in;
   &:hover{
    transform-origin: right;
    transform: translateX(-600px);
   
   }
  }

  #toggle{
   font-size: 14px;
   margin: 0;
   padding: 1.3px;
   margin-right: 2px;
  }


  #nav a{
   font-size: 14px;
   padding: 2px;
   margin: 0 10px;
   display: block;
  }
  #nav{
   display: block;
  }
 }

 #slideMenu{
  display: none;
 }

 #welcome h5{
  transition: all ease-in 2s;

  &:hover{
   transform: scale(1.1);
  }
 }

}

