html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 300vh;
  background-color: antiquewhite;
  background: url(computer-desk-ebook-reader-2237795.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header {
  position: fixed;
  top: 0;
  z-index: 10;
}

#header #brand {
  background: black;
  position: fixed;
  width: 100%;
  z-index: 12;
  -webkit-transition: background ease-in 2s;
  transition: background ease-in 2s;
}

#header #brand:hover {
  background: lightcoral;
}

#header #brand img {
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 0 0 10px 0 #ffd;
          box-shadow: 0 0 10px 0 #ffd;
  border: 1px dashed #1800ed;
  float: left;
  margin: 8px 0;
  margin-right: 20px;
  -webkit-transition: -webkit-transform ease 2s;
  transition: -webkit-transform ease 2s;
  transition: transform ease 2s;
  transition: transform ease 2s, -webkit-transform ease 2s;
}

#header #brand img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#header #brand p {
  float: left;
  font-size: 30px;
  margin: 6px 2px;
  color: #0af8e4;
  font-family: serif;
  -webkit-transition: all ease-out 1.3s;
  transition: all ease-out 1.3s;
}

#header #brand p::first-letter {
  color: blue;
  padding-right: 2px;
  font-family: cursive;
  font-weight: bolder;
}

#header #brand p:hover {
  -webkit-transform: translateX(34px);
          transform: translateX(34px);
}

#header #brand span {
  color: white;
  font-size: 30px;
  background: black;
  padding: 0 4px;
  border-radius: 24%;
  -webkit-box-shadow: 0px 0px 10px 6px white;
          box-shadow: 0px 0px 10px 6px white;
  float: right;
  margin: 8px 20px;
  -webkit-transition: 2s all ease-out;
  transition: 2s all ease-out;
  cursor: pointer;
}

#header #brand #nav {
  float: left;
  margin: 12px 20px;
  display: none;
}

#header #brand #nav .none {
  background: none;
  color: white;
}

#header #brand #nav .active {
  border-radius: 10px 5px 10px 5px;
  background-color: black;
  color: white;
}

#header #brand #nav a {
  color: white;
  text-decoration: none;
  padding: 0 3px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

#header #brand #nav a:hover:not(.active) {
  border-radius: 10px 5px 10px 5px;
  background-color: white;
  text-decoration: none;
  color: green;
}

#content {
  position: relative;
  top: 100vh;
}

#main {
  background: rgba(22, 22, 122, 0.3);
}

#main .article {
  border: 2px white solid;
  border-radius: 0 0 40px  40px;
  margin-bottom: 100px;
  max-width: 200vw;
  margin-top: 40px;
  background: #d1a7a7;
}

#main .article p {
  color: black;
  text-align: start;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: Tahoma;
  margin: 8px;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
}

#main .article img {
  width: 100%;
  height: 350px;
}

#welcome {
  position: relative;
  top: 48vh;
  width: 100%;
}

#welcome h1 {
  left: 0;
  right: 0;
  margin: 0;
  color: aqua;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

#welcome h1::first-letter {
  color: blue;
  font-family: cursive;
  font-weight: bolder;
  padding-right: 2px;
}

#welcome h5 {
  text-align: center;
  color: gold;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
}

#welcome h5:hover {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  color: pink;
}

#welcome img {
  margin: 0 44vw;
  max-height: 100px;
  min-width: 100px;
  -webkit-transition: -webkit-transform 2s ease-in;
  transition: -webkit-transform 2s ease-in;
  transition: transform 2s ease-in;
  transition: transform 2s ease-in, -webkit-transform 2s ease-in;
}

#welcome img:hover {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

#main2 {
  background: rgba(23, 21, 222, 0.9);
  text-align: center;
  font-family: monospace;
  color: lavender;
  margin-top: 570px;
  padding: 0;
}

@media screen and (max-width: 540px) {
  #brand img {
    display: none;
  }
  #nav {
    margin-left: 0;
    padding-left: 0;
    float: left;
  }
  #welcome {
    position: relative;
    top: 48vh;
    width: 100%;
  }
  #welcome h1 {
    left: 0;
    right: 0;
    margin: 0;
    color: aqua;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
  }
  #welcome h1::first-letter {
    color: blue;
    font-family: cursive;
    font-weight: bolder;
    padding-right: 2px;
  }
  #welcome h5 {
    text-align: center;
    color: gold;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 4s ease;
    transition: -webkit-transform 4s ease;
    transition: transform 4s ease;
    transition: transform 4s ease, -webkit-transform 4s ease;
  }
  #welcome h5:hover {
    -webkit-transform: scale(3);
            transform: scale(3);
    color: pink;
  }
  #welcome img {
    margin-left: 38vw;
    max-height: 100px;
    min-width: 100px;
    -webkit-transition: -webkit-transform 2s ease-in;
    transition: -webkit-transform 2s ease-in;
    transition: transform 2s ease-in;
    transition: transform 2s ease-in, -webkit-transform 2s ease-in;
  }
  #welcome img:hover {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
  }
}
/*# sourceMappingURL=port.css.map */